# =====================================================
# PYTHON
# =====================================================
__pycache__/
*.pyc
*.pyo

# =====================================================
# ENVIRONNEMENTS
# =====================================================
venv/
.env/
.venv/

# =====================================================
# VSCODE
# =====================================================
.vscode/

# =====================================================
# JUPYTER
# =====================================================
.ipynb_checkpoints/

# =====================================================
# LOGS
# =====================================================
logs/
*.log

# =====================================================
# RÉSULTATS GÉNÉRÉS
# =====================================================
results/
*.txt

# =====================================================
# FIGURES GÉNÉRÉES
# =====================================================
figures/*.png
figures/*.jpg
figures/*.jpeg
figures/*.pdf

# =====================================================
# CACHE
# =====================================================
.cache/
.pytest_cache/

# =====================================================
# WINDOWS
# =====================================================
Thumbs.db
.DS_Store